/** Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/** config */
//Layout config
$marginDistance_PC: 16px;
$marginDistance_Tab: 12px;
$marginDistance_Mobile: 10px;

//Standard colors
$primaryColor: #0069d9;
$secondaryColor: #5a6268;
$successColor: #218838;
$dangerColor: #c82333;
$warningColor: #e0a800;
$infoColor: #138496;
$lightColor: #e2e6ea;
$darkColor: #23272b;

//Toast Messages CSS Config
$widthToastItem: 400px; //withd of Toast Item
$bgColorToastItem: #fff; //backgroud color of Toast Item
$mbToastItem: 24px; //distance between elements

/** Reuse */
// padding
%pl-0 {
  padding-left: 0;
}
%pr-0 {
  padding-right: 0;
}

%p-0_16 {
  padding: 0 16px;
}

// margin
%mr-0 {
  margin-right: 0;
}
%ml-0 {
  margin-left: 0;
}
%ml-4 {
  margin-left: -4px;
}

// alignment
%textCenter {
  text-align: center;
}

// boder
%border-outline_None {
  border: none;
  outline: none;
}

.text-center {
  @extend %textCenter;
}
.text-right {
  text-align: right;
}

/** Layout*/
// Layout (SCSS)
// Developed by TLA
// version: 1.0
// Date: 12/08/2021

// Mixins
@mixin colForPC {
  @for $i from 1 through 12 {
    $value: 100 / 12 * $i * 1%;
    &-#{$i} {
      flex: 0 0 $value;
      max-width: $value;
      margin-left: unset;
      margin-right: unset;
      @extend %paddingDistance_PC;
    }
  }
}
@mixin colForTab {
  @for $i from 1 through 12 {
    $value: 100 / 12 * $i * 1%;
    &-#{$i} {
      flex: 0 0 $value;
      max-width: $value;
      margin-left: unset;
      margin-right: unset;
      @extend %paddingDistance-Tab, %blockTab;
    }
  }
}
@mixin colForMobile {
  @for $i from 1 through 12 {
    $value: 100 / 12 * $i * 1%;
    &-#{$i} {
      flex: 0 0 $value;
      max-width: $value;
      margin-left: unset;
      margin-right: unset;
      @extend %paddingDistance-Mobile, %blockMobile;
    }
  }
}
@mixin colForPerCent {
  @for $i from 1 through 100 {
    $value: $i * 1%;
    &-#{$i} {
      flex: 0 0 $value;
      max-width: $value;
    }
  }
}
@mixin colOffset {
  @for $i from 0 through 11 {
    $value: 100 / 12 * $i * 1%;
    &-#{$i} {
      margin-left: $value;
    }
  }
}

// For all screen and default (PC)
//container and container-fluid
%screen {
  display: block;
  padding: 0 $marginDistance_PC;
  width: 100%;
}
.container {
  @extend %screen;
  max-width: 1200px;
  margin: auto;
  &-fluid {
    @extend %screen;
  }
}

//row
%paddingDistance_PC {
  padding-left: $marginDistance_PC;
  padding-right: $marginDistance_PC;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$marginDistance_PC;
  margin-right: -$marginDistance_PC;
  justify-content: space-between;
  &.no-gutters {
    @extend %ml-0;
    @extend %mr-0;
    .col {
      @extend %pl-0;
      @extend %pr-0;
    }
  }
  .col {
    &-0 {
      display: none;
    }
    @include colForPC(); //col- 1 to 12
    &-o {
      @include colOffset();
    }
  }
  // //percent of collum
  // &-cols-percent {
  //   .col {
  //     @include colForPerCent();
  //   }
  // }
}
// Large Screen > 1440px
@media (min-width: 1441px) {
  .container {
    max-width: 85%;
  }
}

// PC-L 1440px - 1280px
@media (max-width: 1440px) and (min-width: 1281px) {
  // .container {
  // }
}
// PC standard 1280px - 1024px
@media (max-width: 1280px) and (min-width: 1025px) {
  .container {
    max-width: 984px;
  }
}
//  PC Small & Tablet Pro 1024px - 740px
@media (max-width: 1024px) and (min-width: 741px) {
  %paddingDistance-Tab {
    padding-left: $marginDistance-Tab;
    padding-right: $marginDistance-Tab;
  }
  %blockTab {
    display: block;
  }
  .container {
    max-width: 95%;
    padding: 0 $marginDistance-Tab;
  }
  .row {
    margin-left: -$marginDistance-Tab;
    margin-right: -$marginDistance-Tab;
    .col-m {
      &-0 {
        display: none;
      }
      @include colForTab();
      &-o {
        @include colOffset();
      }
    }
    //percent of collum
    // &-cols-percent {
    //   .col-m {
    //     @include colForPerCent();
    //   }
    // }
  }
}
// Mobile
@media (max-width: 740px) {
  %paddingDistance-Mobile {
    padding-left: $marginDistance-Mobile;
    padding-right: $marginDistance-Mobile;
  }
  %blockMobile {
    display: block;
  }
  .container {
    padding: 0 $marginDistance-Mobile;
  }
  .row {
    margin-left: -$marginDistance-Mobile;
    margin-right: -$marginDistance-Mobile;
    .col-s {
      &-0 {
        display: none;
      }
      @include colForMobile();
      &-o {
        @include colOffset();
      }
    }
    //percent of collum
    // &-cols-percent {
    //   .col-s {
    //     @include colForPerCent();
    //   }
    // }
  }
}
/** global style */
#mainContent {
  background-color: #f6fafc;
  min-height: calc(100vh - 75px - 100px);
}
/** form */
form {
  .formTitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .formName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-control {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    padding: 5px;
    font-size: 18px;
  }
  // .form-check {
  //   .form-control {
  //     height: auto;
  //     min-height: 40px;
  //   }
  //   .heading {
  //     margin-bottom: 5px;
  //   }
  //   label {
  //     margin-right: 15px;
  //   }
  // }
  .form-group {
    margin-bottom: 15px;
    &.invalid .form-control {
      border: 1px solid #f33a58;
    }
    &.invalid .form-message {
      padding-top: 4px;
      width: 100%;
      text-align: left;
      color: #f33a58;
    }
  }
}

/** button*/
// Button Style (SCSS)
// Developed by TLA
// version: 1.0
// Date: 05/09/2021

//btnStandard
@mixin btnStandard($name, $color) {
  &-#{$name} {
    background-color: $color;
  }
  //btnOutline
  &-outline-#{$name} {
    color: $color;
    border: 1px solid $color;
    &:hover {
      background-color: $color;
      color: #fff;
    }
  }
}

.btn {
  display: inline-block;
  @extend %border-outline_None;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 14px;
  font-size: 16px;
  min-width: 30px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    cursor: no-drop;
  }
  &-rounded {
    border-radius: 10rem;
  }
  &-social {
    i {
      width: 16px;
    }
  }

  @include btnStandard(primary, $primaryColor);
  @include btnStandard(secondary, $secondaryColor);
  @include btnStandard(success, $successColor);
  @include btnStandard(danger, $dangerColor);
  @include btnStandard(warning, $warningColor);
  @include btnStandard(info, $infoColor);
  @include btnStandard(light, $lightColor);
  @include btnStandard(dark, $darkColor);
}
