/** Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/** config */
/** Reuse */
.row.no-gutters .col {
  padding-left: 0;
}

.row.no-gutters .col {
  padding-right: 0;
}

.row.no-gutters {
  margin-right: 0;
}

.row.no-gutters {
  margin-left: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/** Layout*/
.container-fluid, .container {
  display: block;
  padding: 0 16px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.row .col-12, .row .col-11, .row .col-10, .row .col-9, .row .col-8, .row .col-7, .row .col-6, .row .col-5, .row .col-4, .row .col-3, .row .col-2, .row .col-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: space-between;
}
.row .col-0 {
  display: none;
}
.row .col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: unset;
  margin-right: unset;
}
.row .col-o-0 {
  margin-left: 0%;
}
.row .col-o-1 {
  margin-left: 8.3333333333%;
}
.row .col-o-2 {
  margin-left: 16.6666666667%;
}
.row .col-o-3 {
  margin-left: 25%;
}
.row .col-o-4 {
  margin-left: 33.3333333333%;
}
.row .col-o-5 {
  margin-left: 41.6666666667%;
}
.row .col-o-6 {
  margin-left: 50%;
}
.row .col-o-7 {
  margin-left: 58.3333333333%;
}
.row .col-o-8 {
  margin-left: 66.6666666667%;
}
.row .col-o-9 {
  margin-left: 75%;
}
.row .col-o-10 {
  margin-left: 83.3333333333%;
}
.row .col-o-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 1441px) {
  .container {
    max-width: 85%;
  }
}
@media (max-width: 1280px) and (min-width: 1025px) {
  .container {
    max-width: 984px;
  }
}
@media (max-width: 1024px) and (min-width: 741px) {
  .row .col-m-12, .row .col-m-11, .row .col-m-10, .row .col-m-9, .row .col-m-8, .row .col-m-7, .row .col-m-6, .row .col-m-5, .row .col-m-4, .row .col-m-3, .row .col-m-2, .row .col-m-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row .col-m-12, .row .col-m-11, .row .col-m-10, .row .col-m-9, .row .col-m-8, .row .col-m-7, .row .col-m-6, .row .col-m-5, .row .col-m-4, .row .col-m-3, .row .col-m-2, .row .col-m-1 {
    display: block;
  }

  .container {
    max-width: 95%;
    padding: 0 12px;
  }

  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row .col-m-0 {
    display: none;
  }
  .row .col-m-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-9 {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-m-o-0 {
    margin-left: 0%;
  }
  .row .col-m-o-1 {
    margin-left: 8.3333333333%;
  }
  .row .col-m-o-2 {
    margin-left: 16.6666666667%;
  }
  .row .col-m-o-3 {
    margin-left: 25%;
  }
  .row .col-m-o-4 {
    margin-left: 33.3333333333%;
  }
  .row .col-m-o-5 {
    margin-left: 41.6666666667%;
  }
  .row .col-m-o-6 {
    margin-left: 50%;
  }
  .row .col-m-o-7 {
    margin-left: 58.3333333333%;
  }
  .row .col-m-o-8 {
    margin-left: 66.6666666667%;
  }
  .row .col-m-o-9 {
    margin-left: 75%;
  }
  .row .col-m-o-10 {
    margin-left: 83.3333333333%;
  }
  .row .col-m-o-11 {
    margin-left: 91.6666666667%;
  }
}
@media (max-width: 740px) {
  .row .col-s-12, .row .col-s-11, .row .col-s-10, .row .col-s-9, .row .col-s-8, .row .col-s-7, .row .col-s-6, .row .col-s-5, .row .col-s-4, .row .col-s-3, .row .col-s-2, .row .col-s-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row .col-s-12, .row .col-s-11, .row .col-s-10, .row .col-s-9, .row .col-s-8, .row .col-s-7, .row .col-s-6, .row .col-s-5, .row .col-s-4, .row .col-s-3, .row .col-s-2, .row .col-s-1 {
    display: block;
  }

  .container {
    padding: 0 10px;
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .row .col-s-0 {
    display: none;
  }
  .row .col-s-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-9 {
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: unset;
    margin-right: unset;
  }
  .row .col-s-o-0 {
    margin-left: 0%;
  }
  .row .col-s-o-1 {
    margin-left: 8.3333333333%;
  }
  .row .col-s-o-2 {
    margin-left: 16.6666666667%;
  }
  .row .col-s-o-3 {
    margin-left: 25%;
  }
  .row .col-s-o-4 {
    margin-left: 33.3333333333%;
  }
  .row .col-s-o-5 {
    margin-left: 41.6666666667%;
  }
  .row .col-s-o-6 {
    margin-left: 50%;
  }
  .row .col-s-o-7 {
    margin-left: 58.3333333333%;
  }
  .row .col-s-o-8 {
    margin-left: 66.6666666667%;
  }
  .row .col-s-o-9 {
    margin-left: 75%;
  }
  .row .col-s-o-10 {
    margin-left: 83.3333333333%;
  }
  .row .col-s-o-11 {
    margin-left: 91.6666666667%;
  }
}
