.listXuat {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-bottom: 15px;
  background-color: #fff;
  .title {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
